## NBA 2017

**Scenarios**

The data set contains aggregate individual statistics for 67 NBA seasons. From basic box-score attributes such as points, assists, rebounds etc., to more advanced money-ball like features such as Value Over Replacement.

**Pre-Processing**

In this task not all data will be used, only data in 2017. So it is necessary to do filtering at the beginning. Besides that there are some players who make team transfers in the NBA transfer market so that there is duplication of playerdata. Therefore we can use the df.drop_duplicates() syntax to solve this. Delete columns that have as many missing values​​as the entire row of data. Then you can do additional pre-processing if needed or you can immediately process the data.

**Some goals of this project:**
1. Who is the youngest and oldest player in the NBA in 2017 for each team
2. Which player has the most minutes played (MP) in each position (Pos)?
3. Which team has the highest average total rebound percentage (TRB%), assist percentage(AST%), steal percentage (STL%), and block percentage (BLK%)?
4. Who is the best player in your opinion based on his record stats? note: you can refer tovariables point (PTS), assists, rebounds, or anything else. A combination of several variableswould be nice.
5. Which team has the best average stat record of their players? Note: you can refer to points,assists, rebounds, or anything else. A combination of several variables would be nice

###Pre-processing

In [ ]:
# Import library
import pandas as pd
import numpy as np
from fancyimpute import IterativeImputer
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

In [ ]:
# Import the dataset
df_raw = pd.read_csv('Seasons_Stats.csv')
df_raw.head()

   Unnamed: 0    Year           Player  Pos   Age  ... STL  BLK  TOV     PF    PTS
0           0  1950.0  Curly Armstrong  G-F  31.0  ... NaN  NaN  NaN  217.0  458.0
1           1  1950.0     Cliff Barker   SG  29.0  ... NaN  NaN  NaN   99.0  279.0
2           2  1950.0    Leo Barnhorst   SF  25.0  ... NaN  NaN  NaN  192.0  438.0
3           3  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   29.0   63.0
4           4  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   27.0   59.0

[5 rows x 53 columns]

In [ ]:
# Check missing data and data type
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  object
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: float64(49), int64(1), object(3)
memory usage: 10.0+ MB

In [ ]:
# Filter 2017 Data
df_raw2 = df_raw.loc[df_raw['Year'] == 2017]

# Drop duplicate
df_raw3 = df_raw2.drop_duplicates(subset=['Player'])

# Drop Unsignificant Column
df_raw4 = df_raw3.drop(columns=['Unnamed: 0', 'blanl', 'blank2'])

# Check missing data and data type to make sure
df_raw4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 486 entries, 24096 to 24690
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    486 non-null    float64
 1   Player  486 non-null    object
 2   Pos     486 non-null    object
 3   Age     486 non-null    float64
 4   Tm      486 non-null    object
 5   G       486 non-null    float64
 6   GS      486 non-null    float64
 7   MP      486 non-null    float64
 8   PER     486 non-null    float64
 9   TS%     485 non-null    float64
 10  3PAr    485 non-null    float64
 11  FTr     485 non-null    float64
 12  ORB%    486 non-null    float64
 13  DRB%    486 non-null    float64
 14  TRB%    486 non-null    float64
 15  AST%    486 non-null    float64
 16  STL%    486 non-null    float64
 17  BLK%    486 non-null    float64
 18  TOV%    485 non-null    float64
 19  USG%    486 non-null    float64
 20  OWS     486 non-null    float64
 21  DWS     486 non-null    float64
 22  WS      486 non-null    float64
 23  WS/48   486 non-null    float64
 24  OBPM    486 non-null    float64
 25  DBPM    486 non-null    float64
 26  BPM     486 non-null    float64
 27  VORP    486 non-null    float64
 28  FG      486 non-null    float64
 29  FGA     486 non-null    float64
 30  FG%     485 non-null    float64
 31  3P      486 non-null    float64
 32  3PA     486 non-null    float64
 33  3P%     450 non-null    float64
 34  2P      486 non-null    float64
 35  2PA     486 non-null    float64
 36  2P%     484 non-null    float64
 37  eFG%    485 non-null    float64
 38  FT      486 non-null    float64
 39  FTA     486 non-null    float64
 40  FT%     471 non-null    float64
 41  ORB     486 non-null    float64
 42  DRB     486 non-null    float64
 43  TRB     486 non-null    float64
 44  AST     486 non-null    float64
 45  STL     486 non-null    float64
 46  BLK     486 non-null    float64
 47  TOV     486 non-null    float64
 48  PF      486 non-null    float64
 49  PTS     486 non-null    float64
dtypes: float64(47), object(3)
memory usage: 193.6+ KB

There are some missing values in the data. The column that have missing values are TS%, 3PAr, FTr, TOV%, FG%, 3P%, 2P%, eFG%, and FT%. These missing values need to be imputed so we can analyze the data more.

**Data Imputation**

In [ ]:
# Groupby the data based on its type
num_data = df_raw4.select_dtypes(include=[np.number]) #for numerical data
cat_data = df_raw4.select_dtypes(exclude=[np.number]) #for categorical data

In [ ]:
# State the imputer method, we use MICE(Multiple Imputation by Chained Equations)
MICE_imputer = IterativeImputer()

# Impute the numerical data, the categorical data is not imputed because there are no missing values
num_data_MICE = num_data.copy(deep=True)
num_data_MICE. iloc[: , :] = MICE_imputer. fit_transform(num_data_MICE)

In [ ]:
# Merge the imputed data and the categorical data
df = pd.concat([cat_data, num_data_MICE], axis=1, sort=False)

# Assign the correct data type
df['Age'] = df['Age'].astype(int)
df['Year'] = df['Year'].astype(int)

# Check the final dataset
df.head()

              Player Pos   Tm  Year  Age  ...   STL   BLK    TOV     PF    PTS
24096   Alex Abrines  SG  OKC  2017   23  ...  37.0   8.0   33.0  114.0  406.0
24097     Quincy Acy  PF  TOT  2017   26  ...  14.0  15.0   21.0   67.0  222.0
24100   Steven Adams   C  OKC  2017   23  ...  88.0  78.0  146.0  195.0  905.0
24101  Arron Afflalo  SG  SAC  2017   31  ...  21.0   7.0   42.0  104.0  515.0
24102  Alexis Ajinca   C  NOP  2017   28  ...  20.0  22.0   31.0   77.0  207.0

[5 rows x 50 columns]

### 1.Who is the youngest and oldest player in the NBA in 2017 for each team (Tm) ?

In [ ]:
#Youngest Player Each Team
young_array = (df.groupby('Tm')['Tm', 'Age', 'Player'].min()).to_numpy()
young = pd.DataFrame(young_array, columns=[['Team', 'Youngest Age', 'Youngest Player']])

#Oldest Player Each Team
old_array = (df.groupby('Tm')['Age', 'Player'].max()).to_numpy()
old = pd.DataFrame(old_array, columns=[['Oldest Age', 'Oldest Player']])

In [ ]:
#Merge into one dataframe
young_old = pd.concat([young, old], axis=1, sort=False)
young_old.drop(columns='Team')
young_old

   Team Youngest Age   Youngest Player Oldest Age            Oldest Player
0   ATL           22   DeAndre' Bembry         32             Tim Hardaway
1   BOS           20        Al Horford         31             Tyler Zeller
2   BRK           21   Anthony Bennett         36            Trevor Booker
3   CHI           21      Bobby Portis         35              Robin Lopez
4   CHO           21    Aaron Harrison         31           Treveon Graham
5   CLE           21     Channing Frye         38         Tristan Thompson
6   DAL           21      A.J. Hammons         38          Wesley Matthews
7   DEN           19        Alonzo Gee         36          Wilson Chandler
8   DET           20    Andre Drummond         34            Tobias Harris
9   GSW           20  Anderson Varejao         36            Zaza Pachulia
10  HOU           20       Bobby Brown         34             Trevor Ariza
11  IND           20      Aaron Brooks         32           Thaddeus Young
12  LAC           19     Alan Anderson         39           Wesley Johnson
13  LAL           19    Brandon Ingram         37           Timofey Mozgov
14  MEM           20   Andrew Harrison         40            Zach Randolph
15  MIA           20      Dion Waiters         36              Willie Reed
16  MIL           19       Gary Payton         39               Tony Snell
17  MIN           20     Adreian Payne         34              Zach LaVine
18  NOP           20     Alexis Ajinca         33              Tim Frazier
19  NYK           21   Carmelo Anthony         32        Willy Hernangomez
20  OKC           20      Alex Abrines         36           Victor Oladipo
21  ORL           20      Aaron Gordon         32        Stephen Zimmerman
22  PHI           21    Alex Poythress         32  Timothe Luwawu-Cabarrot
23  PHO           19     Alan Williams         34           Tyson Chandler
24  POR           21   Al-Farouq Aminu         28           Tim Quarterman
25  SAC           19  Anthony Tolliver         31      Willie Cauley-Stein
26  SAS           20       Bryn Forbes         39              Tony Parker
27  TOR           21     Bruno Caboclo         30        Patrick Patterson
28  TOT           21      Andrew Bogut         36             Yogi Ferrell
29  UTA           21        Alec Burks         35               Trey Lyles
30  WAS           21      Bradley Beal         32               Trey Burke

### 2.Which player has the most minutes played (MP) in each position (Pos)?

In [ ]:
#Player with Most Minutes Played Each Pos
df.groupby('Pos')['MP', 'Player'].max()

          MP             Player
Pos
C     3030.0      Zaza Pachulia
PF    2803.0      Zach Randolph
PF-C   980.0  Joffrey Lauvergne
PG    2947.0       Yogi Ferrell
SF    3048.0    Wilson Chandler
SG    2796.0        Zach LaVine

### 3.Which team has the highest average total rebound percentage (TRB%), assist percentage(AST%), steal percentage (STL%), and block percentage (BLK%)?

In [ ]:
# Team with Highest TRB, AST, STL, BLK
TRB = df.groupby('Tm')['TRB%'].mean()
AST = df.groupby('Tm')['AST%'].mean()
STL = df.groupby('Tm')['STL%'].mean()
BLK = df.groupby('Tm')['BLK%'].mean()

# Print Team with Highest TRB, AST, STL, BLK
print('Highest Average Total Rebound Percentage: ',TRB.idxmax(), 'with average of', round(TRB.max(),2))
print('Highest Average Assist Percentage: ',AST.idxmax(), 'with average of', round(AST.max(),2))
print('Highest Average Steal Percentage: ',STL.idxmax(), 'with average of', round(STL.max(),2))
print('Highest Average Block Percentage: ',BLK.idxmax(), 'with average of', round(BLK.max(),2))

Highest Average Total Rebound Percentage:  WAS with average of 13.45
Highest Average Assist Percentage:  DEN with average of 15.86
Highest Average Steal Percentage:  MIN with average of 2.37
Highest Average Block Percentage:  GSW with average of 2.74

### 4.Who is the best player in your opinion based on his record stats? note: you can refer to variables point (PTS), assists, rebounds, or anything else. A combination of several variables would be nice.

I’ll explain what I will use as features and some simple feature selection processes.

***PER*** stands for Player Efficiency Rating, and is basically a calculation of all positives and negatives simple stats.

***BPM*** stands for Box Plus Minus and is an advanced statistic for evaluating players’ quality and contribution to the team. It takes more team based stats into the calculation in comparison to PER.

***TS%*** stands for True Shooting Percentage, and calculation is rather simple (and actually included in stats above)

***USG%*** is short for Usage Percentage and is an estimate of team plays which a player uses while on the court.

And in the end, *WS and WS/48* stand for Win Shares and Win shares per 48 minutes. That stat attempts to divide team success on individual members of the team.

In [ ]:
# Create new dataframe that include the scoring criteria
df_best = df[['Player', 'Tm', 'Pos','PER', 'BPM', 'TS%', 'USG%', 'WS', 'WS/48']]
df_best = df_best.reset_index(drop=True)
df_best.head()

          Player   Tm Pos   PER  BPM    TS%  USG%   WS  WS/48
0   Alex Abrines  OKC  SG  10.1 -2.5  0.560  15.9  2.1  0.095
1     Quincy Acy  TOT  PF  11.8 -3.0  0.565  16.8  0.9  0.082
2   Steven Adams  OKC   C  16.5  0.5  0.589  16.2  6.4  0.130
3  Arron Afflalo  SAC  SG   9.0 -3.5  0.559  14.4  1.4  0.043
4  Alexis Ajinca  NOP   C  12.9 -4.1  0.529  17.2  1.0  0.080

In [ ]:
# Declare standardization method
scaler = MinMaxScaler()

# Groupby the data based on its type
df_best_num = df_best.select_dtypes(include=[np.number]) #for numerical data
df_best_cat = df_best.select_dtypes(exclude=[np.number]) #for categorical data

# Transform the data
scaler.fit(df_best_num)
score = pd.DataFrame(np.sum((scaler.transform(df_best_num)), axis=1), columns=['score'])

#Finalize and check the data
df_best_final = pd.concat([df_best_cat, score], axis=1, sort=False)
df_best_final.head()

          Player   Tm Pos     score
0   Alex Abrines  OKC  SG  3.000000
1     Quincy Acy  TOT  PF  2.961109
2   Steven Adams  OKC   C  3.553302
3  Arron Afflalo  SAC  SG  2.817977
4  Alexis Ajinca  NOP   C  2.926396

In [ ]:
#Print Best Player
print('Best NBA Player in 2017 is:', '\n', df_best_final.sort_values(by='score',ascending=False).iloc[0])

Best NBA Player in 2017 is:
 Player    Russell Westbrook
Tm                      OKC
Pos                      PG
score               5.28616
Name: 457, dtype: object

### 5.Which team has the best average stat record of their players? Note: you can refer to points,assists, rebounds, or anything else. A combination of several variables would be nice

In [ ]:
# We use the data we create from the previous question
best_team = df_best_final.groupby('Tm')['score'].mean()

# Check the data
best_team.head()

Tm
ATL    2.913775
BOS    3.299916
BRK    3.032249
CHI    3.038595
CHO    3.026816
Name: score, dtype: float64

In [ ]:
# Print the best team with best average stat record of their players
print('Best NBA Team in 2017 is: ',best_team.idxmax(), 'with average score of', round(best_team.max(),2))

Best NBA Team in 2017 is:  GSW with average score of 3.45